body {
    padding: 0;
    margin: 0;
font-family: 'Arial', sans-serif;  
font-weight: bold;  
background-color: white;
}

header {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 3px solid rgb(184, 0, 0);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 70px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.2s ease;
}

.nav-links li a:hover {
    color: rgb(184, 0, 0);
}


.auth-buttons {
    display: flex;
    gap: 15px;
}


#login {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    background-color: transparent;
    border: 2px solid rgb(184, 0, 0);
    color: rgb(184, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

#login:hover {
    background-color: rgb(184, 0, 0);
    color: white;
}

#signup {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    background-color: rgb(184, 0, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

#signup:hover {
    background-color: darkred;
}
.background {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) contrast(120%);
    display: block;
}

.background h1 {
    position: absolute;
    left: 50%;
    gap: 20px;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0;
        font-size: 3rem;
    margin-bottom: 5px;
}


.background p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}



.background .AAA {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 22px;
    color: white;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    transition: all 0.2s ease;

}
.background .AAA:hover{
    color: rgb(184, 0, 0);
    transition: all 0.2s ease;
}

.Gallery{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    padding: 20px;
}

.Gallery tr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.Gallery th {
    margin: 0;
    padding: 0;
}

.Gallery img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}