body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;  
    font-weight: bold;  
    background-color: white;
}

header {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 3px solid rgb(184, 0, 0);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 70px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px; 
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.2s ease;
}

.nav-links li a:hover {
    color: rgb(184, 0, 0);
}


.auth-buttons {
    display: flex;
    gap: 15px;
}


.auth-buttons .login-btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: transparent;
    border: 2px solid rgb(184, 0, 0);
    color: rgb(184, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.auth-buttons .login-btn:hover {
    background-color: rgb(184, 0, 0);
    color: white;
}

.auth-buttons .signup-btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(184, 0, 0);
    border: none;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.auth-buttons .signup-btn:hover {
    background-color: darkred;
}





.background {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) contrast(120%);
    display: block;
}

.background h1,
.background h3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0;
}

.background h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 600;
    

}
.background h3 {
    padding-top: 120px;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: normal;
}

.background .AAA {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 22px;
    color: white;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
    transition: all 0.2s ease;
}
.background .AAA:hover{
    color: rgb(184, 0, 0);
    transition: all 0.2s ease;
}
.Informetion{
    position: relative;
    background-color: #ffffff;
    padding: 40px;
} 
.Informetion .Upper{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

}
.Informetion .Upper .aa{
    position: relative;
    width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
} 
.Informetion .Upper h1{
    color: rgb(0, 0, 0);
    font-size: 23px;
    line-height: 1.6;
    margin: 0;

}

.Informetion .Upper2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

}
.Informetion .Upper2 .aa{
    position: relative;
    width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
} 
.Informetion .Upper2 h1{
    color: rgb(0, 0, 0);
    font-size: 23px;
    line-height: 1.6;
    margin: 0;
}
.Informetion .line{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    background-color: rgb(100, 100, 100);
}