@page
@model AboutModel
@{
    ViewData["Title"] = "Burger Salon";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/About.css">

</head>

<body>
<div class="background">
    <video autoplay muted loop playsinline>
        <source src="~/videos/background.mp4" type="video/mp4">
    </video>
    <h1>
        מי אנחנו?
    </h1>
    <p class="Para">
        המסעדה הכי טובה בעולם, עם המבורגרים הכי טעימים בעולם, עם שירות הכי טוב בעולם, עם אווירה הכי טובה בעולם, עם אנשים הכי טובים בעולם, עם הכל הכי טוב בעולם

    </p>
</div>


<table class="Gallery">
    <tr>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>
        <th><img src="~/images/fries.jpg" alt="fries"></th>

    </tr>
</table>
</body>




</html>