@page
@model IndexModel
@{
    ViewData["Title"] = "Burger Salon";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Salon</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>


<body class = "HomePage">

<div class="background">
    <video autoplay muted loop playsinline>
        <source src="~/videos/background.mp4" type="video/mp4">
    </video>
    <h1>
        בורגר סאלון
    </h1>
    <h3>רשת ההמבורגרים הכי טובה בגלקסיה</h3>
    <button class="AAA">הזמן שולחן</button>
</div>


<section class="Informetion">
    <section class="Upper">
        <img class="aa" src="~/images/fries.jpg" alt="aaa">
        <h1>
            בשר טרי שמגיע מהמרכז תעשייה של דימונה ברמה גבוהה ציפס מתפוח אדמה טרי שצומח לי בגינה האחרוית וירקות טריים מהשופרסל

        </h1>
    </section>
    <div class="line">
    </div>
    <section class="Upper2">
        <h1>
            אחלה של מקום נקי שירות טוב  מלא סוגי מנות שמתאימים לכל אחד עובדים טובים ונחמדים קינוחים מעולים ואווירה טובה
        </h1>
        <img class="aa" src="~/images/fries.jpg" alt="aaa">

    </section>
</section>
</body>

</html>