@page
@model MenuModel
@{
    ViewData["Title"] = "Burger Salon";
}

<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="~/css/Site.css">
</head>

<body>

<div class="Menu">

    <!-- BURGERS -->
    <section class="Deals">
        <h1>ארוחות</h1>
        <div class="line"></div>

        <div class="Items-Grid">

            <div class="Item">
                <img src="~/images/burger.png">
                <h2>SALON BURGER</h2>
                <p>המבורגר קלאסי עם כל הירקות ורוטב הבית</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/crispy.png">
                <h2>CHICKEN SALON</h2>
                <p>המבורגר קריספי עם חזה עוף בטמפורה וחסה באיולי</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/combo.webp">
                <h2>COMBO SALON</h2>
                <p>המבורגר גדול עם רצועות עוף קריספי</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/antricot.png">
                <h2>STEAK COMBO</h2>
                <p>כריך אנטריקוט עם ירקות ואיולי שום</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/pita.png">
                <h2>SALON MIX</h2>
                <p>פיתה פרגית וקבב עם רוטב הבית</p>
                <button>הזמן</button>
            </div>

        </div>
    </section>

    <!-- DRINKS -->
    <section class="Deals">
        <h1>שתייה</h1>
        <div class="line"></div>

        <div class="Items-Grid">

            <div class="Item">
                <img src="~/images/water.jpg">
                <h2>Water</h2>
                <p>בקבוק מים</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/COLA.png">
                <h2>COLA</h2>
                <p>בקבוק קולה</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/FUZETEA.png">
                <h2>FUZE TEA</h2>
                <p>בקבוק נסטי</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/FANTA.jpg">
                <h2>FANTA</h2>
                <p>בקבוק פנטה</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/anavim.jpg">
                <h2>GRAPE</h2>
                <p>בקבוק ענבים</p>
                <button>הזמן</button>
            </div>

        </div>
    </section>

<!-- SIDES -->
    <section class="Deals">
        <h1>תוספות</h1>
        <div class="line"></div>

        <div class="Items-Grid">

            <div class="Item">
                <img src="~/images/fries.png">
                <h2>FRENCH FRIES</h2>
                <p>צ'יפס קריספי חם ומלוח</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/onionrings.png">
                <h2>ONION RINGS</h2>
                <p>טבעות בצל עם רוטב הבית</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/wings.png">
                <h2>CHICKEN WINGS</h2>
                <p>כנפיים ברוטב צ'ילי פיקנטי</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/potatos.png">
                <h2>POTATOES</h2>
                <p>תפוחי אדמה קריספיים</p>
                <button>הזמן</button>
            </div>

            <div class="Item">
                <img src="~/images/salad.png">
                <h2>SALAD</h2>
                <p>סלט ירקות טרי עם שמן זית ולימון</p>
                <button>הזמן</button>
            </div>

        </div>
    </section>

</div>

</body>
</html>