@page
@model MenuModel
@{
    ViewData["Title"] = "Burger Salon";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Menu.css">

</head>


<body>
<div class="Menu">
    <section class="Deals">
        <h1>ארוחות</h1>
        <div class="line"></div>
        <section class="Item">
            <img src="~/images/burger.png" alt="burger">
            <h2>SALON BURGER</h2>
            <p>המבורגר קלאסי עם כל הירקות ורוטב הבית</p>
            <button>הזמן</button>
        </section>
            <section class="Item">
            <img src="~/images/crispy.png" alt="chicken burger">
            <h2>CHICKEN SALON</h2>
            <p>המבורגר קריספי עם חזה עוף בטמפורה עם חסה  באיולי</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/combo.webp" alt="combo">
            <h2>COMBO SALON</h2>
            <p>המבורגר לגדולים בלבד עם רצועות עוף קריסיפי</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/antricot.png" alt="fries">
            <h2>SALON STAKE COMBO</h2>
            <p>כריך אנטריקוט  עם ירקות ואיולי שום</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/pita.png" alt="fries">
            <h2>SALON MIX</h2>
            <p>פיתה פרגית וקבב עם ירקות ורוטב הבית</p>
            <button>הזמן</button>
        </section>
      </section>  




          <section class="Deals">
        <h1>תוספות</h1>
        <div class="line"></div>
        <section class="Item">
            <img src="~/images/water.jpg" alt="fries">
            <h2>Water</h2>
            <p>בקבוק מים</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/COLA.png" alt="fries">
            <h2>COLA</h2>
            <p>בקבוק קולה</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/FUZETEA.png" alt="fries">
            <h2>FUZE TEA</h2>
            <p>בקבוק נסטי</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/FANTA.jpg" alt="fries">
            <h2>FANTA</h2>
            <p>בקבוק פנטה</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/anavim.jpg" alt="fries">
            <h2>ANAVIM</h2>
            <p>בקבוק ענבים</p>
            <button>הזמן</button>
        </section>
      </section>  


          <section class="Deals">
        <h1>שתייה</h1>
        <div class="line"></div>
        <section class="Item">
            <img src="~/images/fries.png" alt="fries">
            <h2>FRENCH FRIES</h2>
            <p>ציפס קריספי חם ומלוח</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/onionrings.png" alt="fries">
            <h2>ONION RINGS</h2>
            <p>טבעות בצל קריספיות עם רוטב הבית</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/wings.png" alt="fries">
            <h2>CHICKEN WINGS</h2>
            <p>כנפיים ברוטב צילי פיקנטיות</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/potatos.png" alt="fries">
            <h2>POTATOES</h2>
            <p>ציפס פוטטו שמן וטעים</p>
            <button>הזמן</button>
        </section>
                <section class="Item">
            <img src="~/images/salad.png" alt="fries">
            <h2>SALAD</h2>
            <p>סלט ירקות טעים עם כל הירקות בשמן זית ולימון</p>
            <button>הזמן</button>
        </section>
      </section>  








</div>
</body>




</html>